@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
     option{
    color: black;
     }

   .world-map{
    background: url('/src/Images/World\ Map.svg');
   }
   .wave-bg{
    background: url('/src/Images/Wave\ Line.svg');
   }
   .dashboard-bg{
    background: url('/src//Images/Sprinkle.svg');
    
  }
  .animated-bg{
    background: url('/src/Images/Animated\ Shape.svg');
    
  }

 

